{
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-organize-attributes",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "attributeGroups": [
    "$ANGULAR_TWO_WAY_BINDING",
    "$ANGULAR_STRUCTURAL_DIRECTIVE",
    "$ANGULAR_INPUT",
    "$ANGULAR_OUTPUT",
    "^formControl(Name)+",
    "^app",
    "$CODE_GUIDE"
  ],
  "importOrder": [
    "^@angular/(.*)$",
    "^primeng/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderSortSpecifiers": true
}
